@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Varela Round', sans-serif;
}

header{
    background-color: #255ee9;
    color: white;
}

.horizontal-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}

.first-menu{
    display: flex;
    justify-content: space-around;
}

li{
    padding: 20px;
}

.button{
    border-radius: 20px;
    padding: 15px 20px;
}

.login{
    background-color: white;  
    color: black;  
}

.vertical-header{
    background: url('../img/jumbo.png') ;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: auto;
    background-color: #628cf7;
}

.inside{
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 12vh 0;
}

.text-header{
    text-align: center;
    padding: 40px 20%;
    font-size: 1.2rem;
}

.buttons{
    padding: 20px;
    margin-top: 10px;
}

.open, .download{
    display: inline;
}

.download{
    background-color: white;
    color: black;
    margin-right: 50px;
}

.download::before{
    content: '\2193';
    padding-right: 10px;
}

.open{
    background-color: black;
}

.buttonbig{
    font-size: 1.2rem;
}

.mainflex{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container60{
    margin: auto;
    width: 60%;
}

.picture-main{
    flex-basis: 50%;
}


.text-main{
    flex-basis: 40%;
    padding: 50px 0;
}

h2{
    font-size: 2.8rem;
    font-style: bolder;
}

p{
    font-size: 1.3rem;
    padding-top: 20px;
}

.reverse{
    flex-direction: row-reverse;
}

.wave{
padding: 90px 0;}
